:root{
  --cor-principal: #252525;
  --cor-secundária: #FFF5E4;
  --cor-de-impacto: #F05454;
  --font--principal: "Nexa";
  --font--secundaria: "Nexa-thin"
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  @font-face {
    font-family: 'Nexa-thin';
    src: url('/font/Nexa-ExtraLight.ttf') format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Nexa';
    src:  url('/font/Nexa-Heavy.ttf') format('truetype');
}
h2{
  font-family: "Nexa";
}
p{
  font-family: "Nexa-thin";
}

.text-center {
    text-align: center; }
  
  .text-right {
    text-align: right; }
  
  .text-muted {
    color: #777; }
  
  .cursor-pointer {
    cursor: pointer; }
  
  .disable-selection {
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer */
    -khtml-user-select: none;
    /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none;
    /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    /* Disable Android and iOS callouts*/ }
    footer{
        margin: 0 auto;
        width: 100%;
        background-color: #fff;
        padding: 10px;
      }
      footer div{
        width: 80%;
        margin: 0 auto;
      
      }
      footer p{
        text-align: center;
        color: #252525;
      }
      footer p a{
        color: #737373;
        text-decoration: none;
      }
      footer p a:hover{
        color: var(--cor-de-impacto);
      }
      
    @media(max-width: 500px){
        .calendar{
          flex-direction: column-reverse;
          transform: scale(0.9, 0.9);
        }
        .calendar .calendar-month li{
          font-size: 10px;
        }
        #frase{
            font-size: 1.5em; 
        }
        .container-section{
          flex-direction: column;
        }
        .section-conteudo{
          margin: 20px 0 0 0 ;
        }
        header{
          background-attachment: inherit;
        }
        section{
          background-attachment: inherit;
        }
        header{

        }
        section:nth-of-type(2){
          background: url("/img/camp-senat-responsive.png") center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
        }
        section:nth-of-type(4){
          background: url("/img/trás-senat-responsive.png") center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;

        }
        section:nth-of-type(6){
          background: url("/img/sala-senat-responsive.png") center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;

        }
      } 
      @media(max-width: 350px){
        section:nth-of-type(2){
          background-attachment: inherit;

        }
        section:nth-of-type(4){
          background-attachment: inherit;
        }
        section:nth-of-type(6){
          background-attachment: inherit;
        }
      }