body{
  background: #252525;
  display: flex;
  min-height: calc(100vh + 10px);
  justify-content: center;
  align-items: center;
}
footer{
  position: absolute;
  bottom: 0;
  background-color: transparent;
}
footer p{
  color: #fff;
  
}
footer p a{
  color: #252525;
}
.blur{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  filter: blur(15px);
  object-fit: cover;
  mix-blend-mode: lighten;

}
main{
  
}
main a{
  width: 200px;
  display: block;
  padding: 15px 0;
  font-size: 1.125em;
  text-transform: uppercase;
  background: transparent;
  border: 3px solid #fff;
  color: #252525;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: 300ms;
}
main a:hover{
  color: #F05454;
  width: 200px;
  padding: 15px 0;
  border: 3px solid #F05454;
}