@font-face {
    font-family: 'Nexa-thin';
    src: url('/font/Nexa-ExtraLight.ttf') format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: 'Nexa';
    src:  url('/font/Nexa-Heavy.ttf') format('truetype');
}
:root{
    --cor-principal: #252525;
    --cor-secundária: #FFF5E4;
    --cor-de-impacto: #F05454;
    --font--principal: "Nexa";
    --font--secundaria: "Nexa-thin"
}
header{
  height: 600px;
  background: url('/img/sala-senat.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: grid;
  align-items: center;
  animation-name: image;
  animation-duration: 6s;
  animation-timing-function: 1;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 1;
}
@keyframes image{
    0%{
        background: url('/img/campo-senat.png') center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 100ms;
        
        
    }
    50%{
        background: url('/img/trás-senat.png') center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 100ms;
    }
    100%{
        background: url("/img/sala-senat.png") center center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: 100ms;
    }
}

.container {
  margin: 0px auto;
  padding: 30px 30px;
  max-width: 960px;
  overflow: hidden;
}
#frase {
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  color: var(--cor-secundária);
  margin-bottom: 20px;
  font-family: var(--font--principal);
}
.area1, .area2 .area3, .area4, .area5{
    visibility: hidden;
}
#frase::after{
    content: '';
    margin: 10px auto;
    background-color: var(--cor-secundária);
    height: 4px;
    width: 80px;
    text-align: center;
    display: block;
    text-align: center;
}
section{
    width: 100%;
    padding: 80px 4%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section:nth-of-type(2){
    background-image: url('/img/campo-senat.png');
    height: 400px;
    filter:  blur(1.5px);
    object-fit: cover;

}
section:nth-of-type(4){
    background-image: url('/img/trás-senat.png');
    height: 400px;
    filter:  blur(1.5px);
    object-fit: cover;

}
section:nth-of-type(6){
    background-image: url('/img/sala-senat.png');
    height: 400px;
    filter:  blur(1.5px);
    object-fit: cover;

}
section:nth-of-type(7){

}
.container-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    margin: 0 auto;
    max-width: 960px;


}
.marge{
    flex-direction: row-reverse;
}
.section-img{
    max-width: 460px
}
.section-img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 50px #25252588;
    object-fit: cover;
}
.section-conteudo{
    display: flex;
    flex-direction: column;
    max-width: 460px;
    gap: 30px
}
.section-conteudo h2{
    font-size: 2.5em;
    text-transform: uppercase;
    color: #252525;
    font-family: sans-serif;
    font-family: var(--font--principal);
}
.section-conteudo p{
    font-size: 1.125em;
    line-height: 1.5em;
    color: #252525;
    font-family: sans-serif;
    font-weight: 300;
    font-family: var(--font--secundaria);
}
.section-conteudo a{
    display: block;
    width: 180px;
    padding: 10px 0;
    border: 3px solid var(--cor-principal);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 1.125em;
    font-family: var(--font--principal);
}
.section-conteudo a:hover{
    background-color: var(--cor-principal);
    color: var(--cor-secundária);
    transition: 500ms;
}